<h2>Locations</h2>

<p class="notification" data-category="geoCoverage"></p>
<div class="locations-table">
	<div class="row-fluid header">
		<div class="span5">
			<h5 style="display:inline;">Description <i class="required-icon hidden" data-category="geoCoverage"></i>
                        <a href="https://oraprdnt.uqtr.uquebec.ca/pls/public/gscw031?owa_no_site=543&owa_no_fiche=125#description_fr" target="_blank">
                        <img style="margin: 0px 0px 5px 5px" height=15 width=15 src="./js/themes/gril/img/info.png" alt="info" /></a>
			</h5>
			<p class="subtle">
				Provide a short and comprehensive geographic description of the sampling site(s) or location(s) where these data were collected. For example, “Teshekpuk Lake, Alaska”.
			</p>
		</div>
		<div class="span7">
			<h5 style="display:inline;">Bounding Box Coordinates <i class="required-icon hidden" data-category="geoCoverage"></i>
			<a href="https://oraprdnt.uqtr.uquebec.ca/pls/public/gscw031?owa_no_site=543&owa_no_fiche=125#coordonnees" target="_blank">
			<img style="margin: 0px 0px 5px 5px" height=15 width=15 src="./js/themes/gril/img/info.png" alt="info" /></a>
			</h5>
			<br>
			<span class="subtle">Enter two lat,lng coordinates to specify a geographic bounding box or only one lat,lng pair for a single point.</span>
		</div>
	</div>
</div>
