<h2 style="display:inline;">People
<a href="https://oraprdnt.uqtr.uquebec.ca/pls/public/gscw031?owa_no_site=543&owa_no_fiche=125#personnes" target="_blank">
<img height=20 width=20 src="./js/themes/gril_default/img/info.png" alt="info" /></a>
</h2>

<br><br>

<p class="subtle">
  For each person, provide at least: a person's first and last name, or a
  position name, or an organization name.
</p>

<h4>Dataset Creators (Authors/Owners/Originators) <i class='required-icon hidden' data-category='creator'></i></h4>
<p class="subtle">
  Each person or organization listed as a Creator will be listed in the data
  citation. At least one person, organization, or position with a 'Creator'
  role is required.
</p>
<div class="row-striped" data-attribute="creator"></div>


<h4>Contacts <i class='required-icon hidden' data-category='contact'></i></h4>
<div class="row-striped" data-attribute="contact"></div>
